<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Firebase, in this flavour and no other. -->
    <application>
        <service
            android:name=".push.PrivioFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
